<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Booking Form HTML Template</title>

    <!-- Google font -->
    <link
      href="https://fonts.googleapis.com/css?family=PT+Sans:400"
      rel="stylesheet"
    />

    <!-- Bootstrap -->
    <link
      type="text/css"
      rel="stylesheet"
      href="../static/css/bootstrap.min.css"
    />

    <!-- Custom stlylesheet -->
    <link
      type="text/css"
      rel="stylesheet"
      href="../static/css/select_package.css"
    />
  </head>

  <body>
    <div id="booking" class="section">
      <div class="section-center">
        <div class="container">
          <div class="row">
            <div class="booking-form">
              <form action="/select_package_form" method="POST">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-label">Name</span>
                      <input
                        class="form-control"
                        type="text"
                        placeholder="Name"
                        name="name"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-label">Select Package</span>
                      <select class="form-control" id="packagename" onchange="packageChange()" name="package">
                        <option disabled selected>Choose Option</option>
                        <option value="Australia Package">
                          Australia Package
                        </option>
                        <option value="Italy Package">Italy Package</option>
                        <option value="Switzerland Package">
                          Switzerland Package
                        </option>
                        <option value="Mauritius Package">
                          Mauritius Package
                        </option>
                        <option value="France Package">France Package</option>
                        <option value="Greece Package">Greece Package</option>
                        <option value="Hong Kong Package">
                          Hong Kong Package
                        </option>
                        <option value="UAE Package">UAE Package</option>
                        <option value="Italy and Switzerland">
                          Italy and Switzerland
                        </option>
                        <option value="Greece and Italy">
                          Greece and Italy
                        </option>
                        <option value="Classical Europe">
                          Classical Europe
                        </option>
                        <option value="Fantastic Four">Fantastic Four</option>
                      </select>
                      <span class="select-arrow"></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-label">Number of People</span>
                      <input
                        class="form-control"
                        type="text"
                        placeholder="Number of People"
                        name="number_of_people"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-label">Preferred Language</span>
                      <input
                        class="form-control"
                        type="text"
                        placeholder="Preferred Language"
                        name="Preferred_Language"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-label">Departing</span>
                      <input
                        class="form-control"
                        type="date"
                        name="departing_date"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-label">Number of days</span>
                      <input
                        class="form-control" id="days"
                        type="text"
                        name="number_of_days"
                        disabled
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-btn">
                      <button class="submit-btn" type="submit">Submit</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../static/js/selects.js"></script>
  </body>
</html>
